<div class="row" id="admin">
  <div class="col-md-9">
    <div class="page-header">
      <h1>Admin Lounge</h1>
    </div>
    <p>
      Welcome to Ticketee's Admin Lounge. Please enjoy your stay.
    </p>
  </div>
  <div class="col-md-3">
    <h2>Admin Links</h2>
    <ul class="nav bav-stacked">
      <li>
        <%= link_to "Users", admin_users_path %>
      </li>
    </ul>
  </div>
</div>
