<% if @project.errors.any? %>
<div id="errors_explanation">
  <h2><%= pluralize(@project.errors.count, "errors")%>
    prohibited this project from being saved:</h2>
</div>
<ul>
  <% @project.errors.full_messages.each do |msg| %>
  <li>
    <%= msg %>
  </li>
  <%end%>
</ul>
<%end%>

<%= simple_form_for([:admin,@project]) do |f| %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.button :submit, class: "btn-primary"%>
<%end%>
