<% if @ticket.errors.any? %>
<div id="errors_explanation">
  <h2><%= pluralize(@ticket.errors.count, "errors")%>
    prohibited this project from being saved:</h2>
</div>
<ul>
  <% @ticket.errors.full_messages.each do |msg| %>
  <li>
    <%= msg %>
  </li>
  <%end%>
</ul>
<%end%>

<%= simple_form_for([@project, @ticket]) do |f| %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.button :submit, class: "btn-primary" %>
<%end%>
