<div id="ticket">
  <div class="page-header">
    <h1><%= @project.name%></h1>
    <ul class="actions">
      <li>
        <%= link_to "Edit Ticket", [:edit, @project, @ticket], class: "edit"%>
      </li>
      <li>
        <%= link_to "Delete Ticket", [@project, @ticket], method: :delete,
        data: {confirm: "Are you sure you want to delete this ticket?"},
        class: "delete"%>
      </li>
    </ul>
  </div>

  <div class="page-header">
    <h2><%=@ticket.name%></h2>
  </div>
  <%= simple_format(@ticket.description)%>
</div>
<table id="attributes">
  <tr>
    <th>
      Author:
    </th>
    <td>
      <%= @ticket.author.email%>
    </td>
  </tr>
  <tr>
    <th>
      Created:
    </th>
    <td>
      <%= time_ago_in_words(@ticket.created_at)%>ago
    </td>
  </tr>
</table>
