<%= simple_form_for [:admin, user] do |f|%>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :admin, label: "Is an admin?"%>

  <%= f.button :submit, class: "btn btn-primary"%>
  <%end%>
