<div class="page-header">
<h1>Users</h1>
<ul class="actions">
<li>
  <%= link_to "New User", new_admin_user_path, class: "new"%>
</li>
</ul>
</div>

<ul>
  <% @users.each do |user|%>
  <li>
    <%= link_to user, [:admin, user] %>
  </li>
  <%end%>
</ul>
