<div class="page-header">
  <h1><%= @user %></h1>
  <ul class="actions">
    <li>
      <%= link_to "Edit User", [:edit, :admin, @user], class: "edit"%>
    </li>
    <li>
      <%= link_to "Archive User", [:archive, :admin, @user], method: :patch,
      data: {confirm: "Are you sure you want to archive this user?"},
      class: "delete" %>
    </li>
  </ul>
</div>
